<div class="row m-4">
  <div class="col">
    <div class="jumbotron">
      <h1 class="display-3">Hello, world!</h1>
      <p class="lead">Bienvenue sur mon site CRM de gestion Clients/factures.<br />
        Front Angular - Back API REST Symfony</p>
      <hr class="my-4">
      <p>Enregistrez vous, créez vos clients et vos factures !</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">En Savoir plus</a>
      </p>
    </div>
  </div>
</div>
<div class="row m-4">
  <div class="col text-center">
    <img src="assets/img/home.jpg" alt="logo-crm" class="rounded-circle">
  </div>
</div>
