<div class="row justify-content-center m-4">
  <h1>Connexion</h1>
</div>
<div class="row justify-content-center">

  <div class="col-4 form-group">
    <form action="">
      <label for="email">Votre Email</label>
      <input type="email" name="" class="form-control mb-2">
      <label for="password">Votre Mot de passe</label>
      <input type="password" name="" class="form-control">
      <div class="text-center">
        <button type="submit" class="btn btn-success m-3">Se connecter</button>

      </div>
    </form>
  </div>

</div>
